html, body {
  margin: 0;
  padding: 0;
}

#canvas-container {
  position: relative;
  background-color: black;
  border: none;
}

#text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#text {
  margin: 0 0.5rem;

  animation: fadeIn;
  animation-duration: 4s;
}
